html{
  background-color: wheat;
}
.app >* {
  font-family: 'Jim Nightshade', cursive , sans-serif;

}
header{
  font-size: 50px;
  user-select: none;
  justify-content: space-between !important;
  
}
#cart{
  background-color:rgba(255, 255, 255, 0.416);
  border-radius: 15px;
}

.cart-data{
  text-align: center;
}
.title{
  text-align: center;
}
.title-small{
  /* text-align: center; */
  font-size: 45px;
  margin: 100px;
  font-weight: normal;
  text-decoration: underline;
}

li{
  font-size: 25px;
  margin-left: 0;
  text-align: left;
}

.aligner{
  display:flex;
  justify-content: center;
  align-items: space-around;
}
.centerizer{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spannner{
  display:grid;
  grid-template-columns: 30% 20% 15% 15% 20%;
  justify-content: space-between;
  align-items: center;
}


input{
  background-color: transparent;
}

.button-x{
  font-size: 20px;
  padding: 0;
  min-width: 35px;
  border:1px;
  margin:5px;
}

button{
  --color:black;
  color:var(--color);
  border: 5px solid var(--color);
  font-family: 'Jim Nightshade', cursive , sans-serif;
  font-size: 40px;
  font-weight: bold;
  background-color: transparent;
  border-radius: 5px;
  padding: 12px;
  min-width: 200px;
}
button:hover{
  --color:brown;
  cursor: pointer;

}

.product{
  user-select: none;
  --color:transparent;
  background-color: white;
  border: 5px solid var(--color);
  color:brown;
  width: 400px;
  height:350px;
  font-size: 30px;
  margin:10px;
  padding-bottom: 20px;
}

.product:hover{
  --color: brown;
  cursor: pointer;

}

#exit-message{
  font-size: 100px;
  user-select: none;
  text-align: center;
}